*,
html {
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

body {
  background-color: #e7e7e796;
}

.wrapper {
  margin: 0%;
  margin-bottom: 0px;
  margin-left: 190px;
  padding-top: 0px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  max-width: 80%;
  background-color: #ffffff;
  font-size: 36px;
}

.wrapper > p {
  font-size: 10%;
  padding-top: 0px;
}
.foto-kiri {
  
  position: absolute;
  width: 170px;
  height: 170px;
  background-image: url(poto/rikaheadpat.gif);
  background-size: 100%;
  background-position: center right;
  margin-top: 0;
  margin-left: 80%;
}

.foto-kiri:hover {
  background-image: url(poto/franj.JPG);

}
body::after {

  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(poto/franj.JPG);
}

.credit > div {
  margin-bottom: 50px;


}
.atas {
  margin: 0%;
  margin-left: 190px;
  padding: 30px;
  max-width: 80%;
  background-color: #a1a1a1;
  font-size: 22px;
  color: rgb(0, 0, 0);
}
.wibupedia {
  width: 224px;
  height: 110px;
  padding-left: 1%;
  padding-bottom: 5%;
  padding-top: 0 auto;
}
.manga {
  width: 670px;
  height: 898px;
  padding-left: 0%;
  padding-bottom: 1%;
  padding-top: 15px;
}
.manga2 {
  position: absolute;
  width: 670px;
  height: 898px;
  padding-left: 9%;
  padding-bottom: 1%;
  padding-top: 15px;
}

.judule {
  position: relative;
  padding-left: 0%;
  padding-bottom: 10px;
  padding-top: 30px;
  top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  box-shadow: 0px 1px 0px rgb(0, 0, 0) ;
}

.menu {
  position: relative;
  width: 45px;
  height: 40px;
  padding-left: 0 auto;
  padding-bottom: 99px;
  padding-top: 0 auto;
}
.search {
  width: 500px;
  height: 30px;
  position: absolute;
  top: 50px;
  right: 45%;
}
.footer {
  text-align:center;
  padding-top: 10px;
  bottom: 150px;
}
.anu {
  font-size: 36px;
  font-size: 50%;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 100px;
}